{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}

  <div class="container">
    <article class="basic-content article-content">
      <header>
        <hgroup class="entry-title">
          <a href="{{ .RelPermalink }}" rel="bookmark" title="Permalink to {{ .Title }}">
            <h1>{{ .Title }}</h1>
            <h2>{{ .Params.subtitle }}</h2>
          </a>
        </hgroup>
      </header>

      <section class="entry-content">
        {{ .Content }}
      </section>

      <section class="entry-content">
        {{ partial "disqus.html" . }}
      </section>

      <ul class="articles-timeline">
        {{ if .Next }}
        <li class="previous-article pull-left">
          «
          <a href="{{ .Next.Permalink }}" title="Next: {{ .Next.Title }}">
            {{ .Next.Title }}
            {{ if and (isset .Next.Params "subtitle") (ne .Next.Params.subtitle "") }}
            <br/><small>{{ .Next.Params.subtitle }}</small>
            {{ end }}
          </a>
        </li>
        {{ end }}

        {{ if .Prev }}
        <li class="next-article pull-right">
          <a href="{{ .Prev.Permalink }}" title="Previous: {{ .Prev.Title }}">
            {{ .Prev.Title }}
            {{ if and (isset .Prev.Params "subtitle") (ne .Prev.Params.subtitle "") }}
            <br/><small>{{ .Prev.Params.subtitle }}</small>
            {{ end }}
          </a>
          »
        </li>
        {{ end }}
      </ul>

      <footer class="post-info">
        <abbr class="published" title='{{ .Date.Format "2006/01/02" }}'>
          {{ .Date }}
        </abbr>

        <ul class="list-of-tags tags-in-article">
          {{ range .Params.tags }}
          {{ $tag := . }}
          <a href="/tags.html#{{ $tag | urlize }}-ref">
            #{{ $tag }}
          </a>
          {{ end }}
        </ul>
      </footer>
    </article>
  </div>

  {{ partial "footer.html" . }}

  {{ partial "tail.html" . }}
  {{ partial "analytics.html" . }}
</body>
</html>
