root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.sh]
indent_style = tab
# windows bash를 이용하려면 cr이 없어야
end_of_line = lf

[*.json]
indent_style = space
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[*.mkdn]
trim_trailing_whitespace = false
indent_style = tab

[*.html]
indent_style = space
indent_size =  2

[*.{cpp,js,ts}]
indent_style = space
indent_size =  2

[*.{py,cs}]
indent_style = space
indent_size =  4

[*.{go}]
indent_style = tab
indent_size =  2

[*.{css,scss}]
indent_style = space
indent_size =  2
