root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.sh]
indent_style = tab
# windows bash를 이용하려면 cr이 없어야
end_of_line = lf

[{.travis.yml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.mkdn]
trim_trailing_whitespace = false
