root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.sh]
indent_style = tab
# windows bash를 이용하려면 cr이 없어야
end_of_line = lf

[*.json]
indent_style = space
indent_size = 2

# ol, ul 들여쓰기 4칸으로 안하면 2단으로 사용하는게 제대로 처리되지 않는다.
# js 코드가 포함되는 상황때문에 2칸을 기본으로 쓰고 싶었는데 으...
# TODO: hugo 설정으로 고칠 수 있는 문제일까?
[*.md]
indent_size = 4
trim_trailing_whitespace = false

[*.mkdn]
trim_trailing_whitespace = false
indent_style = tab

[*.html]
indent_style = space
indent_size =  2

[*.{cpp,js,ts}]
indent_style = space
indent_size =  2

[*.{py,cs}]
indent_style = space
indent_size =  4

[*.{go}]
indent_style = tab
indent_size =  2

[*.{css,scss}]
indent_style = space
indent_size =  2
