# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# 윈도, 리눅스 양쪽에서 돌아가게 만드려고
# CR이 있으면 bash에서 돌리기 귀찮다
.sh text eol=lf

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.cpp text
*.java text

*.md text
*.txt text
*.rst text

*.js text
*.py text
*.xml text
*.html text
*.dhtml text
*.css text
*.php text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ico binary
