[submodule "ext/pelican-plugins"]
	path = ext/pelican-plugins
	url = https://github.com/if1live/pelican-plugins.git
[submodule "output"]
	path = output
	url = https://github.com/if1live/if1live.github.io.git
[submodule "ext/pelican-sora"]
	path = ext/pelican-sora
	url = https://github.com/if1live/pelican-sora.git
