[submodule "ext/pelican-sora"]
	path = ext/pelican-sora
	url = https://github.com/if1live/pelican-sora.git
[submodule "ext/pelican-plugins"]
	path = ext/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
