{{ define "main" }}

<section id="archive">
  {{ range .Data.Pages.GroupByDate "2006" }}
  <div class="group">
    <h2 class="key">
      {{ .Key }}
    </h2>

    {{ range .Pages }}
    <div class="value">
      <div class="date">
        <time datetime="{{ .PublishDate }}">{{ .Date.Format "01. 02" }}</time>
      </div>

      <div class="title">
        <a href="{{ .Permalink }}">
          {{ .Title }}
          {{ if ne .Params.subtitle nil }}
          <br /> <small>{{ .Params.subtitle }}</small>
          {{ end }}
        </a>
      </div>

      {{ with .Params.tags }}
      <div class="tags">
        {{ range . }}
        {{/* 쌍따옴표 쓰면 자동포맷팅 망가져서 우회 */}}
        <a href='{{ "tags/" | absURL }}{{ . | urlize  }}/'>{{ . }}</a>
        {{ end }}
      </div>
      {{ end}}
    </div>
    {{ end }}
  </div>
  {{ end }}
</section>

{{ end }}
