{% extends "base.html" %}

{% set ctx = ABOUT_CTX %}

{% block title %}
About · {{ super() }}
{% endblock title %}

{% block content %}
<div class="grid_12">
<section class="basic-content">
<h1>Résumé</h1>

<section>
<h2>about</h2>
<ul>
  <li>if1live</li>
  <li>libsora.so</li>
</ul>
</section>

<section>
<h2>contacts</h2>
current position : Seoul, South Korea.
<ul>
  <li><a href="mailto:libsora25@gmail.com"><i class="fa fa-envelope-o"></i> libsora25 at gmail.com</a></li>
  <li><a href="//twitter.com/if1live"><i class="fa fa-twitter"></i> @if1live</a></li>
  <li><a href="//github.com/if1live/"><i class="fa fa-github"></i> if1live</a></li>
  <li><a href="//bitbucket.org/if1live/"><i class="fa fa-bitbucket"></i> if1live</a></li>
  <li><a href="//steamcommunity.com/id/if1live/"><i class="fa fa-steam"></i> if1live</a></li>
  <li><a href="//www.linkedin.com/in/if1live"><i class="fa fa-linkedin"></i> if1live</a></li>
</ul>
</section>

<section>
<h2>career</h2>

<h3>5minlab</h3>
<ul>
  <li>Programmer, Jan. 2015 - Current</li>
  <li>Web-based game server Developer</li>
  <li>Ruby on Rails</li>
</ul>

<h3>Move Incorporation</h3>
<ul>
  <li>Programmer, Nov. 2011 - Oct. 2014</li>
  <li>Back-end Web Developer (python/django/flask/etc)</li>
  <li>Front-end Web Developer</li>
</ul>

<h3>Mobilehands</h3>
<ul>
  <li>Programmer, Aug. 2010 - Oct. 2011</li>
  <li>Mobile Game Developer (c++/cocos2d-x)</li>
</ul>

<h3>Wizet Corporation</h3>
<ul>
  <li>Programmer, Jan. 2010 - Jul. 2010</li>
  <li>Back-end Web Developer (php/etc)</li>
  <li>Front-end Web Developer</li>
</ul>
</section>

<section>
<h2>skills</h2>
<ul>
  <li>primary language : ruby, python, c++</li>
  <li>secondary language : c, java, c#, javascript, php, css, ...</li>
  <li>web development (back-end, front-end)</li>
  <li>game client development (unity3d, cocos2d-x)</li>
</dl>
</section>

<section>
<h2>projects</h2>
<p>
<a href="/project.html">see detail page</a>
</p>
<section>

</div>  <!-- // grid_12 -->
<div class="clear"></clear>
{% endblock %}
