{% extends "base.html" %}

{% set ctx = ABOUT_CTX %}

{% block title %}
About · {{ super() }}
{% endblock title %}

{% block content %}
<section class="basic-content">
<h1>about me</h1>

<section>
<ul>
  <li>if1live</li>
  <li>libsora.so</li>
</ul>
</section>

<section>
<h2>external</h2>
<ul>
  <li><a href="mailto:libsora25@gmail.com">libsora25 at gmail.com</a></li>
  <li><a href="https://twitter.com/if1live"><i class="fa fa-twitter"></i> if1live</a></li>
  <li><a href="https://github.com/if1live/"><i class="fa fa-github"></i> if1live</a></li>
  <li><a href="https://bitbucket.org/if1live/"><i class="fa fa-bitbucket"></i> if1live</a></li>
  <li><a href="http://steamcommunity.com/id/if1live/"><i class="fa fa-steam"></i> if1live</a></li>


</ul>
</section>

<section>
<h2>career</h2>
{{ ctx.get_career() }}
</section>

</section>
{% endblock %}
