{% extends "base.html" %}

{% block title %}
Project · {{ super() }}
{% endblock title %}

{% block meta_tags_in_head %}
{{ super() }}
<meta name="gc:client-id" content="785d47c81cbc2fd42b65">
<meta name="gc:client-secret" content="5e5d558f0b16fae154aa47fc9d94f7c09e540ec7">
{% endblock %}

{% block content %}
<section class="basic-content">
<h1>Project</h1>

<section>
<h2>User</h2>
<div class="github-card" data-user="if1live"></div>
<div class="github-card" data-user="shipduck"></div>
</section>

<section>
<h2>Repository</h2>
<p>
  저장소에 벌인게 너무 많아서 그나마 그럴싸한거 몇개만 기록한다. 전체 내역은 github를 참고.
</p>
<ul>
  <li>
    <a href="https://github.com/if1live/irrlicht-console">
      <strong>irrlicht-console</strong>
      <small>Quake like console for changing program variables or call function at runtime.</small>
    </a>
  </li>
  <li>
    <a href="https://github.com/if1live/trade-my-info">
      <strong>No.1 온라인 개인정보거래소</strong>
    </a>
  </li>
  <li>
    <a href="https://github.com/if1live/glsl_example">
      <strong>GLSL example</strong>
      <small>셰이더 프로그래밍 입문 for GLSL</small>
    </a>
  </li>
  <li>
    <a href="https://github.com/shipduck/cham-cham-cham">
      <strong>참참참 with Oculus Rift + Leap Motion</strong>
    </a>
  </li>
</ul>
</section>

</section>
{% endblock %}

{% block script %}
<script src="http://lab.lepture.com/github-cards/widget.js"></script>
{% endblock %}
