{% if TWITTER_CARD_USE %}
<meta name="twitter:card" content="summary">
<meta name="og:url" content="{{ SITEURL }}/{{ article.url }}">
{% if TWITTER_CARD_SITE_ID %}
<meta name="twitter:site:id" content="{{ TWITTER_CARD_SITE_ID }}">
{% elif TWITTER_CARD_SITE: %}
<meta name="twitter:site" content="{{ TWITTER_CARD_SITE }}">
{% endif %}
{% if TWITTER_CARD_CREATOR_ID %}
<meta name="twitter:creator:id" content="{{ TWITTER_CARD_CREATOR_ID }}">
{% elif TWITTER_CARD_CREATOR: %}
<meta name="twitter:creator" content="{{ TWITTER_CARD_CREATOR }}">
{% endif %}
<meta name="twitter:title" content="{{ article.title[:70]|e }}">
<meta name="twitter:description" content="{{ article.summary|striptags|truncate(200)|replace('"', '') }}">
{% if GRAVATAR_URL %}
<meta name="twitter:image:src" content="{{ GRAVATAR_URL }}">
{% endif %}
{% endif %}
