body {
  @include font-normal;
}

code, kbd, pre, samp {
  @include font-monospace;
}

header
,nav
,section
,article
,aside
,footer
,hgroup
{
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: keep-all;
}

p {
  word-wrap: break-word;
}
