@import "variables";
@import "mixins";
@import "utilities";
@import "reset";

body {
  margin: 0;
  line-height: 1;
  color: #404040;
  line-height: 1.75;
  letter-spacing: 0.008em;
}

a {
  text-decoration: none;
  color: #5badf0;
}

a:hover {
  color: #0366d6;
}

// navigation, header, footer
@mixin common-header-footer {
  text-align: center;
  color: #eee;

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.navigation {
  @include common-header-footer;
  padding: 0.5em 0;

  background-image: linear-gradient(
    to bottom,
    $sky-bg-color-top 0%,
    $sky-bg-color-bottom 100%
  );

  h1 {
    margin: 0;
    line-height: 1.5em;
    font-size: 1.5em;
  }
}

.footer {
  @include common-header-footer;
  padding: 0.5em 0;

  background-color: $sky-bg-color-bottom;
  box-shadow: 0 10000px 0 10000px $sky-bg-color-bottom;
}

.menu-button-list {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }

  a {
    $length: 1.8em;

    display: inline-block;
    width: $length;
    height: $length;
    line-height: $length;

    margin: 0.5em 0.5em;
    border: 1px solid #fff;
    background-color: $sky-btn-color;

    color: #fff;
    &:hover,
    &.active {
      background-color: $sky-btn-hover-color;
    }
  }
}

// main content
.main {
  max-width: 840px;
  margin: 0 auto;
  padding: 10px;
}

// markdown
h1,
h2,
h3 {
  font-weight: 400;
}
p {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}
p,
pre {
  word-break: normal;
  overflow-wrap: anywhere;
}

/* index post list */
#list-page .item {
  margin: 12px 0;
}

#list-page .title {
  display: inline-block;
  color: #404040;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

#list-page .title a {
  color: #404040;
  display: block;
}

#list-page .title a:hover {
  color: #0366d6;
}

#list-page .date {
  text-align: right;
  color: #bbb;
}

#list-page .summary {
  color: #757575;
  margin-top: 12px;
  word-break: normal;
  overflow-wrap: anywhere;
  margin-bottom: 36px;
}

#list-page .cover {
  width: 100px;
  height: 100px;
  background: #fff;
}

#list-page .cover img {
  width: 100%;
  text-align: center;
}

#list-page .pagination {
  margin: 48px 0;
  width: 100%;
  height: 32px;
  margin-top: 48px;
}

#list-page .pagination .pre {
  float: left;
}
#list-page .pagination .next {
  float: right;
}

/* single page */
#single .title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}

@media (max-width: 700px) {
  #single {
    padding: 0 18px;
    margin: 20px auto 0 auto;
  }
  #single .title {
    font-size: 24px;
    line-height: 32px;
  }
}

#single .tip {
  text-align: center;
  color: #8c8c8c;
  margin-top: 18px;
  font-size: 14px;
}
#single .tip .split {
  margin: 0 4px;
}

#single .content {
  margin-top: 36px;
}

#single .tags {
  margin-top: 24px;
}
#single .tags a {
  background: #f2f2f2;
  padding: 4px 7px;
  color: #757575;
  font-size: 14px;
  margin-right: 3px;
}
#single .tags a:hover {
  color: #0366d6;
}

#archive {
  // 제목만 모으면 짧아서 줄여서 쓰는게 나은듯
  margin: 0 auto;
  padding: 0 24px;
}
#archive .group {
  margin: 24px auto;
}
#archive .group .key {
  margin-bottom: 12px;
}
#archive .group .value {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}

#archive .group .value .date {
  display: block;
  color: #999;
  min-width: 60px;
}

#archive .group .value .title {
  display: inline;

  a {
    color: #404040;
  }

  a:hover {
    color: #0366d6;
  }

  .post-subtitle {
    font-size: 0.8em;
  }
}

#archive .group .value .tags {
  display: block;

  a {
    display: inline;
    background: #f2f2f2;
    padding: 4px 7px;
    color: #999;
    font-size: 14px;
    margin-right: 3px;
  }

  a:hover {
    color: #0366d6;
  }
}

/* taxonomy */
#tags {
  margin: 0 auto 0 auto;
  padding: 0 12px;
  text-align: center;
}
#tags .tag {
  display: inline-block;
  margin: 7px 7px;
}

#tags .tag a {
  background: #f2f2f2;
  padding: 4px 7px;
  color: #757575;
  color: #404040;
  font-size: 14px;
  margin-right: 3px;
}
#tags .tag a:hover {
  color: #0366d6;
}

/* 404 page */
#page-404 {
  margin: 0 auto;
  padding: 0 24px;
}
#page-404 .item {
  margin: 12px 0 0 0;
}

#page-404 .title {
  display: inline-block;
  color: #404040;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  width: 80%;
}

#page-404 .text {
  text-align: center;
  margin-top: 60px;
}

#page-404 .read-more {
  font-weight: 300;
  font-size: 20px;
  margin-top: 48px;
  margin-bottom: 12px;
}

#page-404 .date {
  width: 20%;
  float: right;
  text-align: right;
  position: relative;
  top: 1px;
  color: #bbb;
}
