<header class="header">
  <h1 class="font-monospace">
    <a href="{{ .Site.BaseURL }}">/usr/lib/libsora.so</a>
  </h1>
  <nav>
    <h2 hidden>Navigation</h2>
    <ul class="nav-link-list">
      <li>
        <a href="{{ .Site.BaseURL }}about.html" {{ if eq (lower .Title) "about" }} class="active" {{ end }} title="about">
          <i class="fa fa-info"><span hidden>about</span></i>
        </a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}project.html" {{ if eq (lower .Title) "project" }} class="active" {{ end }} title="project">
          <i class="fa fa-code"><span hidden>project</span></i>
        </a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}posts/" {{ if eq (lower .Title) "posts" }} class="active" {{ end }} title="posts">
          <i class="fa fa-archive"><span hidden>Posts</span></i>
        </a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}tags/" {{ if eq .Data.Plural "tags" }} class="active" {{ end }} title="tags">
          <i class="fa fa-tags"><span hidden>Tags</span></i>
        </a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}search.html" {{ if eq (lower .Title) "search" }} class="active" {{ end }} title="search">
          <i class="fa fa-search"><span hidden>Search</span></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
