<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.8.2/mermaid.min.js"
  integrity="sha512-x8NWYlEsC86ngfO24tbxW6pMuyn9gYnwEW0FcSobohDc3iLCXhmRkqYXgTfE7Jwy2YCTnHRfyum8LUIiyvmgWQ=="
  crossorigin="anonymous"></script>

<script>
  mermaid.initialize({ startOnLoad: true });

  (function () {
    const elems = document.querySelectorAll('code.language-mermaid');
    for(let i = 0 ; i < elems.length ; i++) {
      const id = `mermaid-${i}`;
      const elem = elems[i];
      const source = elem.innerText;
      const cb = (svg) => {
        const div = document.createElement('div');
        div.innerHTML = svg;
        elem.parentElement.replaceWith(div);
      };
      mermaid.render(id, source, cb);
    }
  })();
</script>
