<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.8.3/mermaid.min.js"
  integrity="sha512-+TNmhaRJf3jyYHTpzEq/5I6b+aGyhzWb21mGdHAjxSGSYwxN9Grug3Y3B9qVxWfKKY8MscE/6mr9walWvFLFvQ=="
  crossorigin="anonymous"></script>

<script>
  mermaid.initialize({ startOnLoad: true });

  (function () {
    const elems = document.querySelectorAll('code.language-mermaid');
    for (let i = 0; i < elems.length; i++) {
      const id = `mermaid-${i}`;
      const elem = elems[i];
      const source = elem.innerText;
      const cb = (svg) => {
        const div = document.createElement('div');
        div.innerHTML = svg;
        elem.parentElement.replaceWith(div);
      };
      mermaid.render(id, source, cb);
    }
  })();
</script>
