<script>
var require = {
  baseUrl: '{{ .Site.BaseURL }}js',
  paths: {
    'jquery': '//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min'
  }
};
</script>

<!-- js -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js"></script> -->

<script src="/js/common.js"></script>
