<nav class="navigation">
  <a href="{{ .Site.BaseURL }}" title="home">
    <h1>if1live space</h1>
  </a>
  <ul class="menu-button-list">
    {{ range .Site.Params.socials }}
    {{ $name := index . 0 }}
    {{ $url := index . 1 }}
    <li>
      <!-- social link icon : //fontawesome.io/icons/ -->
      <a href="{{ $url }}" title="{{ $name }}">
        <i class="fa-brands fa-{{ lower $name }}"></i>
        <span hidden>{{ $name }}</span>
      </a>
    </li>
    {{ end }}
    <li>
      <a href="{{ .Site.BaseURL }}posts/" {{ if eq (lower .Title) "posts" }} class="active" {{ end }} title="archive">
        <i class="fa-solid fa-box-archive"></i>
        <span hidden>archive</span>
      </a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}tags/" {{ if eq .Data.Plural "tags" }} class="active" {{ end }} title="tags">
        <i class="fa-solid fa-tags"></i>
        <span hidden>tags</span>
      </a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}about/" {{ if eq .Title "about" }} class="active" {{ end }} title="about">
        <i class="fa-solid fa-info"></i>
        <span hidden>about</span>
      </a>
    </li>
    <li>
      <!-- social link icon : //fontawesome.io/icons/ -->
      <a href="{{ .Site.RSSLink }}" title="RSS">
        <i class="fa-solid fa-rss"></i>
        <span hidden>RSS</span>
      </a>
    </li>
  </ul>
</nav>
